.header_flex, .search-section{
    text-align: center;
}

#recipes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#allRecipes{
    display: flex;
}

.div-recipe{
    background-color: red;
    width: 31.1%;
    margin: 1rem;
    padding: 1rem;
    word-wrap: break-word;
}

.ingredients{
    display: flex;
    flex-direction: column;
}

#div-filter{
    display: flex;
    margin: 2rem;}

.ustensils-input{
    height:2rem
}
.ingredients-input{
    height:2rem
}
.appliance-input{
    height:2rem
}

.ingredient-container{
    display: none;
}
.appliance-container{
    display: none;
}
.ustensils-container{
    display: none;
}

.show-search-ingredients{
    display: block;
}

.ingredients-global-div{

left: 11.18%;
right: 40.59%;
top: 33.33%;
bottom: 34.78%;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 22px;
/* identical to box height */

text-align: center;

color: #ffffff;

background-color: #3282F7;

}

li{
    list-style: none;
}

#recipes{
position: absolute;
width: 380px;
height: 300px;
left: 100px;
top: 392px;
font-size: 12px;
}