.header_flex, .search-section{
    text-align: center;
}

#recipes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#allRecipes{
    display: flex;
}

.div-recipe{
    background-color: red;
    width: 31.1%;
    margin: 1rem;
    padding: 1rem;
    word-wrap: break-word;
}

.ingredients{
    display: flex;
    flex-direction: column;
}

#div-filter{
    display: flex;
    margin: 2rem;}

.ustensils-input{
    height:2rem
}
.ingredients-input{
    height:2rem
}
.appliance-input{
    height:2rem
}

.ingredient-container{
    display: none;
}
.appliance-container{
    display: none;
}
.ustensils-container{
    display: none;
}

.show-search-ingredients{
    display: block;
}